.ingredient {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.ingredientCanUpdate {
    transition: background-color 0.2s;
    background-color: white;
    cursor: pointer;
}

.ingredientImage {
    border-radius: 100%;
}

.crossedOut {
    text-decoration: line-through 3px;
}

.ingredientInfo span {
    width: 100%;
    display: inline-block;
}

.ingredientName {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
}

.ingredientAmount {

}

.addIngredient {
    background-color: white;
    border-radius: 50px;
    border: 5px solid white;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    transition: .2s;
}

.addIngredient:focus, .addIngredient:hover {
    border: 5px solid black;
    transition: .2s;
}

.addToBagWrapper {
    margin-left: auto;
}

.addToBagButton {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.addToBagButtonWrapper:hover .addToBagPopup {
    visibility: visible;
    opacity: 1;
}

.addToBagButtonWrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
}

.addToBagButton.animated {
    animation: brightenAndDarken 2.3s forwards;
}

@keyframes brightenAndDarken {
    0% {
      background-color: black;
      color: white
    }
    5% {
      background-color: white;
      color: black
    }
    100% {
      background-color: black;
      color: white;
    }
  }