.ingredient {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.ingredientCanUpdate {
    transition: background-color 0.2s;
    background-color: white;
    cursor: pointer;
}

.ingredientImage {
    border-radius: 100%;
}

.crossedOut {
    text-decoration: line-through 3px;
}

.ingredientInfo span {
    width: 100%;
    display: inline-block;
}

.ingredientName {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
}

.ingredientAmount {

}

.ingredientCalories {
    color: #3aa46c;
    font-weight: 600;
    font-size: 0.9rem;
}

.addIngredient {
    background-color: white;
    border-radius: 50px;
    border: 5px solid white;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    transition: .2s;
}

.addIngredient:focus, .addIngredient:hover {
    border: 5px solid black;
    transition: .2s;
}

.addToBagWrapper {
    margin-left: auto;
}

.addToBagButton {
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.addToBagButtonWrapper:hover .addToBagPopup {
    visibility: visible;
    opacity: 1;
}

.addToBagButtonWrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
}

.addToBagButton.animated {
    animation: brightenAndDarken 2.3s forwards;
}

@keyframes brightenAndDarken {
    0% {
      background-color: black;
      color: white
    }
    5% {
      background-color: white;
      color: black
    }
    100% {
      background-color: black;
      color: white;
    }
}

@keyframes darkenAndBrighten {
    0% {
      background-color: white;
      color: black
    }
    5% {
      background-color: black;
      color: white
    }
    100% {
      background-color: white;
      color: black;
    }
}

@media only screen and (max-width: 600px) {
    .addIngredient {
        border-radius: 10px;
        border: none;
        gap: 10px;
    }

    .ingredientImage {
        width: 60px;
        height: 60px;
        border-radius: 10px 0 0 10px;
    }

    .addIngredient:focus, .addIngredient:hover {
        border: none;
        outline: none;
    }

    .ingredient {
        border-radius: 10px;
        background-color: white;
        margin-bottom: 10px;
    }

    .ingredientName {
        font-size: 0.8rem;
        line-height: 1;
    }
    
    .ingredientAmount {
        line-height: 1;
        font-size: 0.6rem;
    }

    .ingredientCalories {
        font-size: 0.65rem;
    }

    .ingredientInfo {
        color: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
    }

    .addToBagButton {
        background-color: white;
        border: 2px solid white;
        border-radius: 10px;
        color: black;
        cursor: pointer;
        font-size: 30px;
        height: 60px;
        width: 60px;
    }

    .addToBagButtonWrapper {
        margin-right: 0;
        border-radius: 10px;
    }

    .addToBagButton.animated {
        animation: darkenAndBrighten 2.3s forwards;
    }
}