.menu {
    background-color: rgb(41, 41, 41);
    padding: 4rem 20px;
}

.menuButton {
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menuButtonLink:hover {
    text-decoration: none;
}

.menuButtonImage {
}