.menu {
    background-color: rgb(41, 41, 41);
    padding: 4rem 20px;
    width: 100px;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 50;
}

.menuButton {
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menuButtonLink:hover {
    text-decoration: none;
}

.menuButtonImage {
}

@media only screen and (max-width: 600px) {
    .menu {
        height: 125px;
        width: 100%;
        padding: 20px 0 10px 0;
        top: unset;
        bottom: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
  }