/* Button */

.submitButton {
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 7px;
    
    background-color: rgb(13, 165, 20);
    border: none;
    color: white;

    cursor: pointer;
}

.deleteButton {
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 7px;
    
    background-color: rgb(165, 13, 13);
    border: none;
    color: white;

    cursor: pointer;
}

.submitButton:disabled, .deleteButton:disabled {
    background-color: rgb(32, 41, 41);
    border: none;
}

.submitButtonWrapper {
    position: fixed;
    bottom: 70px;
    right: 100px;
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .submitButtonWrapper {
        position: unset;
        margin-top: 20px;
        justify-content: center;
    }

    .submitButton, .deleteButton {
        width: 50%;
    }
}