.ingredientImage {
    border-radius: 7px 7px 0 0;
}

.ingredientImageWrapper {
    width: 200px;
}

.parentDiv {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 20px;
}

.ingredientName {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 0 0 7px 7px;
}

.amountInput {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 3px solid rgb(179, 228, 228);
}

.unitSelect {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 3px solid rgb(179, 228, 228);
}

.unitSelect > option {
    font-size: 0.8rem;
}

.unitSelect:focus {
    border: 3px solid black;
}

.instructionInput {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 3px solid rgb(179, 228, 228);
}

.amountInput:focus-visible, 
.instructionInput:focus-visible {
    border: 3px solid rgb(179, 228, 228);
    outline: none;
}

.inputLabel {
    font-weight: 700;
    padding-bottom: 5px;
}

.amountWrapper,
.unitWrapper,
.instructionWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

/* Button */

.submitButton {
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 7px;
    
    background-color: rgb(13, 165, 20);
    border: none;
    color: white;

    cursor: pointer;
}

.submitButton:disabled {
    background-color: rgb(32, 41, 41);
    border: none;
}

.submitButtonWrapper {

}

@media only screen and (max-width: 600px) {
    .parentDiv {
        flex-direction: column;
    }

    .submitButtonWrapper {
        text-align: center;
    }

    .ingredientImage, .ingredientImageWrapper {
        width: 100%;
    }
}