name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add VPS to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.VPS_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to VPS
        env:
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_IP: ${{ secrets.VPS_IP }}
          APP_DIR: ${{ secrets.APP_DIR }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        run: |
          rsync -avz --delete --exclude=node_modules --exclude=.git --exclude=dev.Dockerfile --exclude=prod.Dockerfile --exclude=.next --exclude=.env --exclude=.env.local --exclude=.env.production.local ./next-app/ $VPS_USER@$VPS_IP:$APP_DIR
          ssh -o StrictHostKeyChecking=no $VPS_USER@$VPS_IP bash -c "'
            set -e
            cd $APP_DIR

            npm install
            npx prisma migrate deploy
            npx prisma generate
            npx prisma db seed
            npm run build
            pm2 restart cookbook
          '"
